apiVersion: apps/v1
kind: Deployment
metadata:
  name: retrogemini
  labels:
    app: retrogemini
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: retrogemini
  template:
    metadata:
      labels:
        app: retrogemini
    spec:
      containers:
        - name: container
          image: retrogemini:1.4
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
              protocol: TCP
          env:
            - name: NODE_ENV
              value: production
            - name: SUPER_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: retrogemini-super-admin
                  key: SUPER_ADMIN_PASSWORD
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: retrogemini-super-admin
                  key: POSTGRES_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: retrogemini-super-admin
                  key: POSTGRES_PASSWORD
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: retrogemini-super-admin
                  key: POSTGRES_DB
            - name: POSTGRES_HOST
              valueFrom:
                secretKeyRef:
                  name: retrogemini-super-admin
                  key: POSTGRES_HOST
          resources:
            limits:
              cpu: 3m
              memory: 800Mi
            requests:
              cpu: 3m
              memory: 200Mi
          readinessProbe:
            httpGet:
              path: /ready
              port: 8080
              scheme: HTTP
            timeoutSeconds: 1
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /health
              port: 8080
              scheme: HTTP
            timeoutSeconds: 1
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 3
          startupProbe:
            httpGet:
              path: /health
              port: 8080
              scheme: HTTP
            timeoutSeconds: 1
            periodSeconds: 5
            successThreshold: 1
            failureThreshold: 30
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
      dnsPolicy: ClusterFirst
      securityContext: {}
      schedulerName: default-scheduler
