apiVersion: v1
kind: Service
metadata:
  name: retrogemini-service
  labels:
    app: retrogemini
spec:
  type: ClusterIP
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
  selector:
    app: retrogemini
