name: Deploy Docker Image

on:
  workflow_dispatch:
    inputs:
      image_tag:
        description: 'Docker image tag to publish'
        required: true
        default: '0.1'

jobs:
  dockerhub-deploy:
    name: Build & Push Docker Image
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_REPOSITORY }}:${{ inputs.image_tag }}
